{% extends "base.html.twig" %}

{% block title %}{% trans %}not_found{% endtrans %}{% endblock %}

{% block body %}
    <div class="container">
        <h2>{% trans %}not_found{% endtrans %}</h2>
    </div>
{% endblock %}