{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        {% if books is not empty %}
            {% set isAutocomplete = false %}
            {% include '@widget/book_list.html.twig' %}
        {% else %}
            <div class="alert alert-info">{% trans %}book.no_items_found{% endtrans %}</div>
        {% endif %}
    </div>
{% endblock %}