<div class="modal fade" id="book-deleted">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="fas fa-times"></i></button>
            </div>

            <div class="modal-body">
                {{ book.title }} {% trans %}book.deleted{% endtrans %}
            </div>

        </div>
    </div>
</div>